@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.suits {
  font-size: 75px;
}

.num {
  font-size: 75px;
}

.suitsTop {
  float: left;
}

.suitsBottom {
  float: right;
}
